# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.userprefs
crashlytics-build.properties
